

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'用户协议_'+#{website.name}"></title>
    <meta name="keywords" content="用户协议,小说,小说网,言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,原创网络文学" />
    <meta name="description" th:content="#{website.name}+'小说每日更新小说连载,小说排行榜,提供言情小说,都市小说,玄幻小说,穿越小说,青春小说,总裁豪门小说,网络小说,免费小说,全本小说,首发小说,最新章节免费小说阅读,精彩尽在'+#{website.name}+'小说！'" />
    <link rel="stylesheet" href="/css/about.css"/>
</head>
<body class="body">

<div th:replace="common/top :: top('')">
</div>
<!--主体 start-->
<div class="main box_center cf">
    <div class="userBox cf">
        <div class="my_l">
            <ul class="log_list">

                <li><a href="/about/default.html">关于我们</a></li>
                <li><a href="/about/contact.html">联系我们</a></li>
                <li><a class="on" href="/about/user_agreement.html">用户协议</a></li>
                <li><a href="/about/copyright.html">版权声明</a></li>
                <li><a href="/about/submission.html">投稿说明</a></li>
                <li><a  href="/user/feedback.html">反馈留言</a></li>
            </ul>
        </div>
        <div class="my_r">
            <div class="aboutBox">
                <h2>用户协议</h2>
                <div class="about_info">
                    <p>您只有无条件接受以下所有服务条款，才能申请小说精品屋注册账号。</p>
                    <p>1. 特别提示</p>
                    <p>小说精品屋同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务(以下称"网络服务")，为获得网络服务，服务使用人(以下称"用户")同意本协议的全部条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户完全接受本协议项下的全部条款。这些条款可由小说精品屋域名所有者随时更新，本服务协议一旦发生变动，小说精品屋将会在相关的页面上提示修改内容。修改后的服务协议一旦在页面上公布即有效代替原来的服务协议。用户可随时造访查阅最新服务协议。用户在使用小说精品屋提供的各项服务之前，应仔细阅读本服务协议，如用户不同意本服务协议及/或随时对其的修改，用户可以主动取消小说精品屋提供的服务。</p>
                    <p>2. 服务内容</p>
                    <p>2.1 小说精品屋网络服务的具体内容由小说精品屋根据实际情况提供，例如文学作品阅读、论坛(BBS)、聊天室、电子邮件、发表新闻评论等。小说精品屋保留随时变更、中断或终止部分或全部网络服务的权利。
                    </p><p>2.2 小说精品屋在提供网络服务时，可能会对部分网络服务(例如VIP作品阅读)的用户收取一定的费用。在此情况下，小说精品屋会在相关页面上做明确的提示。如用户拒绝支付该等费用，则不能使用相关的网络服务。</p><p>2.3 用户理解，小说精品屋仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如电脑、调制解调器及其他与接入互联网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费)均应由用户自行负担。</p><p>3. 使用规则</p><p>3.1 用户在申请使用小说精品屋网络服务时，必须向小说精品屋申请注册并提供准确的个人资料，如个人资料有任何变动，必须及时更新。如因资料提供不准确而享受不到相关服务时，小说精品屋不承担任何责任。</p><p>3.2 用户注册成功后，小说精品屋将给予每个用户一个用户账号及相应的密码，该用户账号和密码由用户负责保管；用户应当对以其用户账号进行的所有活动和事件负法律责任。</p><p>3.3 用户同意接受小说精品屋通过电子邮件或其他方式向用户发送的商品促销或其他相关商业信息。</p><p>3.4 用户在使用小说精品屋网络服务过程中，必须遵循以下原则：<br />
                    (A) 遵守中国有关的法律和法规；<br />
                    (B) 不得为任何非法目的而使用网络服务系统；<br />
                    (C) 遵守所有与网络服务有关的网络协议、规定和程序；<br />
                    (D) 不得利用小说精品屋网络服务系统进行任何可能对互联网的正常运转造成不利影响的行为；<br />
                    (E) 不得利用小说精品屋网络服务系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；<br />
                    (F) 不得利用小说精品屋网络服务系统进行任何不利于小说精品屋的行为；<br />
                    (G) 就小说精品屋及合作商业伙伴的服务、产品、业务咨询应采取相应机构提供的沟通渠道，不得在公众场合发布有关小说精品屋及相关服务的负面宣传。<br />
                    (H) 如发现任何非法使用用户账号或账号出现安全漏洞的情况，应立即通告小说精品屋。<br />
                </p><p>4. 内容所有权</p><p>
                    4.1 小说精品屋提供的网络服务内容可能包括：文字、软件、声音、图片、录象、图表等。所有这些内容受版权法、商标法和其它财产所有权法律的保护。</p><p>4.2 用户只有在获得小说精品屋或其他相关权利人的书面授权之后才能使用这些内容，而不能擅自复制、再造这些内容、或创造与内容有关的衍生产品。</p><p>5. 隐私保护</p><p>5.1 保护用户（特别是未成年人）的隐私是小说精品屋的一项基本政策，因此，若父母（监护人）希望未成年人（尤其是十岁以下子女）得以使用本服务，必须以父母（监护人）名义申请注册，在接受本服务时，应以法定监护人身份加以判断本服务是否符合于未成年人。小说精品屋保证不对外公开或向第三方（5.2所列情况除外）提供用户注册资料及用户在使用网络服务时存储在小说精品屋的非公开内容，但下列情况除外：<br />
                    (A) 事先获得用户的明确授权；<br />
                    (B) 根据有关的法律法规要求；<br />
                    (C) 按照相关政府主管部门的要求；<br />
                    (D) 为维护社会公众的利益；<br />
                    (E) 为维护小说精品屋的合法权益。<br />
                </p><p>5.2 小说精品屋可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与小说精品屋同等的保护用户隐私的责任，则小说精品屋可将用户的注册资料等提供给该第三方。</p><p>
                    5.3 在不透露单个用户隐私资料的前提下，小说精品屋有权对整个用户数据库进行技术分析并对已进行分析、整理后的用户数据库进行商业上的利用。尽管小说精品屋对用户的隐私权保护做了极大的努力，但是仍然不能保证现有的安全技术措施使用户的技术信息等不受任何形式的损失。</p><p>
                    6. 免责声明</p><p>
                    6.1 小说精品屋所有者不保证以下事宜：<br />
                    (A)本服务将符合您的要求<br />
                    (B)本服务将不受干扰、及时提供、安全可靠或不会出错。<br />
                    (C)小说精品屋将努力保证连载作品的完整性，但如果由于作者或其它非小说精品屋所能控制的原因导致作品的连载不能继续时，小说精品屋对用户不承担任何责任。<br />
                    (D)因用户滥用账户权力而对小说精品屋服务构成破坏、损害时，小说精品屋有权停止该账号的使用权力。</p><p>6.2用户明确同意其使用小说精品屋网络服务所存在的风险将完全由其自己承担；因其使用小说精品屋网络服务而产生的一切后果也由其自己承担，小说精品屋对用户不承担任何责任。</p><p>7. 服务变更、中断或终止</p><p>
                    7.1 如因系统维护或升级的需要而需暂停网络服务，小说精品屋将尽可能事先进行通告。</p><p>
                    7.2 如发生下列任何一种情形，小说精品屋有权随时中断或终止向用户提供本协议项下的网络服务而无需通知用户：<br />
                    (A)用户提供的个人资料不真实；<br />
                    (B)用户违反本协议中规定的使用规则。</p><p>
                    7.3 除前款所述情形外，小说精品屋同时保留在不事先通知用户的情况下随时中断或终止部分或全部网络服务的权利，对于所有服务的中断或终止而造成的任何损失，小说精品屋无需对用户或任何第三方承担任何责任。</p><p>
                    8. 违约赔偿<br />
                    用户同意保障和维护小说精品屋及其他用户的利益，如因用户违反有关法律、法规或本协议项下的任何条款而给小说精品屋或任何其他第三人造成损失，用户同意承担由此造成的损害赔偿责任。</p><p>
                    9. 法律管辖</p><p>
                    9.1 本协议的订立、执行和解释及争议的解决均应适用中国法律。</p><p>9.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均应向小说精品屋域名所有者所在地的人民法院提起诉讼。</p><p>
                    10. 通知和送达<br />
                    本协议项下所有的通知均可通过重要页面公告、电子邮件或常规的信件传送等方式进行；该等通知于发送之日视为已送达收件人。</p><p>
                    11. 其他规定</p><p>
                    11.1 本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p><p>
                    11.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。</p><p>
                    11.3 本协议中的标题仅为方便而设，不具法律或契约效果。</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:replace="common/footer :: footer">
</div>
<div th:replace="common/js :: js"></div>
<script src="/javascript/bookdetail.js" type="text/javascript"></script>

</body>
</html>
