<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                                                                                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label">付呗商户号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="fbMerchantCode" name="fbMerchantCode"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">第三方商户的订单号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="merchantOrderSn" name="merchantOrderSn"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">付呗订单号：</label>
                                                                        <div class="col-sm-8">
                                        
                                            <select data-placeholder="--选择--" id="orderSn"
                                                    name="orderSn"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="color">
                                            </select>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">平台方订单号：</label>
                                                                        <div class="col-sm-8">
                                        
                                            <select data-placeholder="--选择--" id="platformOrderNo"
                                                    name="platformOrderNo"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="oa_leave_type">
                                            </select>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">商户单号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="hidden" id="tradeNo" name="tradeNo"/>
                                            <div id="contentEditortradeNo">

                                            </div>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">订单状态，1：未支付，2：支付成功，3：支付失败，4：支付取消：</label>
                                                                        <div class="col-sm-8">
                                        
                                            <select data-placeholder="--选择--" id="orderState"
                                                    name="orderState"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="yes_no">
                                            </select>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">蜂鸟优惠卷抵扣：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="fnCoupon" name="fnCoupon"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">红包抵扣：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="redPacket" name="redPacket"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">实收金额(元)：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="totalFee" name="totalFee"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">订单金额：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="orderPrice" name="orderPrice"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">手续费(元)：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="fee" name="fee"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">对商品或交易的描述：</label>
                                                                        <div class="col-sm-8">
                                                                                    <img title="点击选择图片" id="picImagebody"
                                                 style="cursor:pointer;width: 100px;height: 100px"
                                                 src="/img/webuploader.png"/>
                                            <input id="body" name="body"
                                                   class="form-control"
                                                   type="hidden">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">附加数据：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="hidden" id="attach" name="attach"/>
                                            <div id="contentEditorattach">

                                            </div>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">付呗系统的门店id：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="storeId" name="storeId"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">付呗系统的收银员id：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="cashierId" name="cashierId"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">设备终端号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="deviceNo" name="deviceNo"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">微信顾客支付授权的“open_id”或者支付宝顾客的“buyer_user_id”：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="userId" name="userId"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">支付宝顾客的账号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <textarea id="userLogonId" name="userLogonId"
                                                      class="form-control"></textarea>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">交易成功的时间：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="payTime"
                                                   name="payTime"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">支付通道:1微信、2支付宝、3银联：</label>
                                                                        <div class="col-sm-8">
                                        
                                            <select data-placeholder="--选择--" id="payChannel"
                                                    name="payChannel"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="del_flag">
                                            </select>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">免充值代金券金额(元)：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="noCashCouponFee" name="noCashCouponFee"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">预充值代金券金额(元)：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="cashCouponFee" name="cashCouponFee"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">顾客实际支付金额(元)：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="cashFee" name="cashFee"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">签名：</label>
                                                                        <div class="col-sm-8">
                                        
                                            <select data-placeholder="--选择--" id="sign"
                                                    name="sign"
                                                    class="form-control chosen-select" tabindex="2"
                                                    dict-type="theme">
                                            </select>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">其它选项：</label>
                                                                        <div class="col-sm-8">
                                                                                    <img title="点击选择图片" id="picImageoptions"
                                                 style="cursor:pointer;width: 100px;height: 100px"
                                                 src="/img/webuploader.png"/>
                                            <input id="options" name="options"
                                                   class="form-control"
                                                   type="hidden">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">创建时间：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="createTime"
                                                   name="createTime"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">推送时间：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="text" class="laydate-icon layer-date form-control"
                                                   id="pushTime"
                                                   name="pushTime"
                                                   onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"
                                                   style="background-color: #fff;" readonly="readonly"/>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">推送IP：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input type="hidden" id="pushIp" name="pushIp"/>
                                            <div id="contentEditorpushIp">

                                            </div>
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">商户id：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="mchtId" name="mchtId"
                                                   class="form-control"
                                                   type="number">
                                        
                                    </div>
                                </div>
                                                                                                                <div class="form-group">
                                                                            <label class="col-sm-3 control-label">QR编号：</label>
                                                                        <div class="col-sm-8">
                                                                                    <input id="sn" name="sn"
                                                   class="form-control"
                                                   type="text">
                                        
                                    </div>
                                </div>
                                                                            <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/test/order/add.js">
</script>
</body>
</html>
