<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${category.id}"
                               type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分类名：</label>
                            <div class="col-sm-3">
                                <input id="name" name="name"
                                       th:value="${category.name}"
                                       class="form-control"
                                       type="text" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-2">
                                <input id="sort" name="sort"
                                       th:value="${category.sort}"
                                       class="form-control"
                                       type="number" maxlength="2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/category/edit.js">
</script>
</body>
</html>
