<div th:fragment="footer"  style="height: 60px;line-height: 60px;text-align: center" class="layui-footer footer footer-demo layui-bg-cyan">
    <!--<a href="/mobile/book/searchSoftBook.html" style="font-size: 14px;color: #fff;">轻小说</a>
    <a href="/mobile/book/searchSoftBook.html?catId=9" style="font-size: 14px;color: #fff;margin-left: 8px">漫画</a>-->
    <a href="/?to=pc" style="font-size: 14px;color: #fff;margin-left: 8px">电脑站</a>
    <a href="/user/read_history.html" style="font-size: 14px;color: #fff;margin-left: 8px">阅读记录</a>
    <a href="/user/favorites.html" style="font-size: 14px;color: #fff;margin-left: 8px">书架</a>
    <a href="/mobile/fiction_house.apk" style="font-size: 14px;color: #fff;margin-left: 8px">客户端</a>
    <!--<a href="https://www.zinglizingli.xyz/me/index.html" style="font-size: 14px;color: #fff;margin-left: 8px">开发者</a>-->


    <div style="float: right"><a href="#top"><i class="layui-icon"
                                                style="margin-right:15px;font-size: 30px;color:#fff ">&#xe604;</i></a>
    </div>
</div>