<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${pay.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">保留：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.outTradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">订单号：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.tradeNo}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">保留：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payChannel}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">交易香蕉币：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.totalAmount}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">支付用户ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.userId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">支付状态：0：支付失败，1：支付成功，2：待支付：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.payStatus}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">创建时间：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.createTime}==null?null:${#dates.format(pay.createTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">更新时间：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${pay.updateTime}==null?null:${#dates.format(pay.updateTime,'yyyy-MM-dd HH:mm:ss')}">
                            </div>
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
