<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <form class="form-horizontal m-t" id="signupForm">
                <input id="id" name="id" th:value="${roleDataPerm.id}"
                       type="hidden">
                                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">角色ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${roleDataPerm.roleId}">
                            </div>
                        
                        

                    </div>
                                                                            <div class="form-group">
                        <label class="col-sm-3 control-label">权限ID：</label>

                                                    <div style="padding-top:8px" class="col-sm-8"
                                 th:text="${roleDataPerm.permId}">
                            </div>
                        
                        

                    </div>
                                                    </form>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="include::footer"></div>
</body>
</html>
