package ${package}.service;

import ${package}.domain.${className}DO;

import java.util.List;
import java.util.Map;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {
	
	${className}DO get(${pk.javaType} ${pk.attrname});
	
	List<${className}DO> list(Map<String, Object> map);
	
	int count(Map<String, Object> map);
	
	int save(${className}DO ${classname});
	
	int update(${className}DO ${classname});
	
	int remove(${pk.javaType} ${pk.attrname});
	
	int batchRemove(${pk.javaType}[] ${pk.attrname}s);
}
